*{
    margin: 0%;
    padding: 0%;
}

body{
    margin: 10px 0px 0px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 100%;
}
.contenedor{
    width:50% ; 

}


h1{
    font-family:'Courier New', Courier, monospace;
    font-size: 3em;
}

h2{
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    font-size: 1em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


@media (min-width: 600px) and (max-width:900px){
    body{
        font-size: 70%;
    }
}